/*---USTAWIENIA ROOT I STRICTE WSZYSTKICH ELEMENTÓW---*/

:root {
    --text-color: #212121;
    --contact-color: #757575;
    --webstudio-color: #2196F3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}



p {
    padding: 0;
}

img {
    display: block;
}

/* ----------HEADER---------- */

.header .container {
    display: flex;
    align-items: center;
}

.main-logo {
    padding-left: 215px;
    padding-right: 93px;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
}

.main-logo-pt1 {
    color: var(--webstudio-color);
    font-weight: 700;
    font-size: 26px;
}

.main-logo-pt2 {
    color: var(--text-color);
    font-weight: 700;
    font-size: 26px;
}

.navigation {
    display: flex;
}

.main-navigation {
    display: flex;
    align-items: center;
}

.main-navigation-item:not(:last-child) {
    margin-right: 46px;
}

.main-menu {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.contact {
    color: var(--contact-color);
}

.contact-top {
    display: flex;
    margin-left: auto;
    margin-right: 48px;
}

.container {
    width: 1200px;
    align-items: center;
}

/*----------SEKCJA 1 / HERO----------*/

body {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 14px;
    line-height: 1.5;
}

.business-solutions {
    margin-bottom: 30px;
}

.hero .container {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    letter-spacing: 0.06em;
    background: #2F303A;
    color: #FFFFFF;
    padding-top: 200px;
    padding-right: 352px;
    padding-bottom: 280px;
    padding-left: 352px;
}

.button {
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
    background: #2196F3;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    border-radius: 4px;
    border: none;
    box-shadow: #2F303A;
}

/*----------SEKCJA 2 / LOREMIPSUM----------*/

.loremipsum .container {
    display: flex;
    margin-top: 94px;
    padding-left: 170px;
    padding-right: 170px;
    font-size: 10px;
}

.loremipsum-item:not(:last-child) {
    margin-right: 46px;
}

.lorem-head {
    font-size: 12px;
}

.lorem-text {
    color: var(--contact-color)
}

/*----------SEKCJA 3 / SERVICES----------*/

.services-head .container {
    display: flex;
    margin-top: 94px;
    margin-bottom: 50px;
    padding-left: 170px;
    padding-right: 170px;
    justify-content: center;
}

.services .container {
    display: flex;
    padding-left: 170px;
    padding-right: 170px;
}

.service-item:not(:last-child) {
    margin-right: 30px;
}

/*-----------SEKCJA 4 / TEAM-----------*/


.team-section .team-header {
    margin-top: 94px;
    margin-bottom: 50px;
}

.team-header {
    text-align: center;
    padding-top: 94px;}

.team-list {
    display: flex;
    justify-content: space-between;
}


.team-list-item {
    text-align: center;
}

.team-member-photo {
    width: 170px;
    height: 180px;
}

.team-member-name {
    padding-top: 20px;
    font-size: 12px;
}

.team-member-job {
    padding-bottom: 20px;
    color: var(--contact-color);
    font-size: 12px;
}

.second-color {
    background-color: white;
}

.team-section .container {
    background-color: #F5F4FA;
    padding-bottom: 94px;
    padding-left: 215px;
    padding-right: 215px
}

/*-----------SEKCJA 5 / FOOTER-----------*/

.footer .container {

}

.main-logo-end {
    
}

/*--------------POZOSTAŁE-------------*/
.link {
    text-decoration: none;
}

.link::selection {
    color: var(--webstudio-color);
}

.link:hover {
    color: var(--webstudio-color);
    cursor: pointer;
}

.link:focus {
    color: var(--webstudio-color)
}

.button:hover {
    opacity: 0.75;
    cursor: pointer;

}

.list {
    list-style: none;
}

.section {
    color: var(--text-color);
}

.address-style {
    font-style: normal;
}

.last-email-underline {
    text-decoration: underline;
}